
form{
    justify-content: center;
}
.rate {
    float: left;
    height: 46px;
    padding: 0px 600px;
    padding-left:340px;
    
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:40px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: rosybrown;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: rosybrown;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: rosybrown;
}
.rating{
    text-align: center;
    margin-top: 20px;
    margin-right: 240px;
}
.check{
    margin-top: 20px;
    text-align: center;
    margin-right: 110px;
}
.select{
    padding-top: 20px;
     padding-left: 340px;
     margin-right: 60px;
}
.warm{
    padding-left:91px;
}
.clear{
    padding-left:136px;
}
button{
    margin-top: 20px;
    text-align: center;
    padding: 0px 300px 0px 223px;
    background-color: rgba(12, 12, 214, 0.945);
    font-size: large;
}
.image{
    width: 20px;
    margin-left: 585px;
    position: relative;
    top: 30px;
}
.company{
    text-align: center;
    padding-top: 0px;
    color: rgb(190, 74, 74);
}
.title{
    margin-bottom: 40px;
}

